/* Copyright 1999-2016. Parallels IP Holdings GmbH. */
.secw-settings {
  margin-top: 20px;
  font-size: 1em;
}
.secw-settings-form .secw-settings-table td {
  padding: 6px 8px;
}
.secw-settings-form .secw-settings-table {
  width: 100%;
}
.secw-settings-form .secw-settings-table td:nth-child(2) {
  white-space: nowrap;
}
.secw-settings-form .secw-settings-table td:nth-child(3) {
  width: 100%;
}
.secw-settings-form .secw-settings-table td:nth-child(4) {
  white-space: nowrap;
}
.secw-settings-form .secw-settings-table td:nth-child(1) img {
  width: 32px;
  height: 32px;
}
.secw-settings-form .secw-settings-table td:nth-child(4) img {
  width: 24px;
  height: 24px;
}
.secw-settings-form tr {
  border-top: 1px solid #ccc;
}
.secw-settings-form tr:nth-child(1) {
  border-top: none;
}

.secw-settings-form tr.main td {
  padding-bottom: 5px;
}
.secw-settings-form tr.additional {
  border-top: none;
}
.secw-settings-form tr.additional td {
  padding-top: 5px;
}

.secw-settings-form .secw-settings-disabled {
  background-color: rgba(243, 0, 37, 0.03);
}
.secw-settings-form .secw-settings-enabled {
  background-color: #fff;
}

.secw-settings-form .secw-state-ready {
  color: #59bc1b;
  margin-left: 5px;
  vertical-align: middle;
  display: inline;
}
.secw-settings-form .secw-state-not-ready {
  color: #f30025;
  margin-left: 5px;
  vertical-align: middle;
  display: inline;
}
.secw-settings-form .secw-state-busy {
  color: #a3a3a3;
  margin-left: 5px;
  vertical-align: middle;
  display: inline;
}
.secw-settings-form .secw-state-partial {
  color: rgb(243, 146, 0);
  margin-left: 5px;
  vertical-align: middle;
  display: inline;
}

.secw-link-button,
.secw-settings-form input[type="button"],
.secw-settings-form input[type="submit"],
.secw-settings-form button,
.secw-settings-form a.button:link,
.secw-settings-form a.button:visited,
.secw-settings-form .btn,
.secw-settings-form .c-button {
  padding:0 !important;
  font: inherit !important;
  background: none !important;
  background-color: transparent !important;
  border: none !important;
  color: #2498e3 !important;
  text-decoration: none !important;
  cursor: pointer !important;
  display: inline !important;
  -webkit-appearance: none !important;
  border-image-width: 0 !important;
  white-space: normal;
  text-align: left;
}


.secw-link-button:hover,
.secw-settings-form input[type="button"]:hover,
.secw-settings-form input[type="submit"]:hover,
.secw-link-button:focus,
.secw-settings-form input[type="button"]:focus,
.secw-settings-form input[type="submit"]:focus,
.secw-settings-form a.button:focus,
.secw-settings-form .btn:focus,
.secw-settings-form .c-button:focus {
  text-decoration: underline !important;
  border-image-width: 0 !important;
  outline: none !important;
}

@media (min-width: 768px) {

  .secw-settings {
    font-size: 1.3em;
  }
  .secw-settings-form .secw-settings-table td {
    padding: 10px;
  }
  .secw-settings-form .secw-settings-table td:nth-child(1) img {
    width: 60px;
    height: 60px;
  }
  .secw-settings-form .secw-settings-table td:nth-child(4) img {
    width: 30px;
    height: 30px;
  }
  .secw-settings-form .secw-state-ready,
  .secw-settings-form .secw-state-not-ready,
  .secw-settings-form .secw-state-busy,
  .secw-settings-form .secw-state-partial {
    margin-left: 10px;
  }

}

/*
.secw-settings-form input[type="button"],
.secw-settings-form input[type="submit"],
.secw-settings-form button,
.secw-settings-form a.button:link,
.secw-settings-form a.button:visited,
.secw-settings-form .btn,
.secw-settings-form .c-button {
  font-family: 'Lato', sans-serif;
  font-size: 1.0em;
  text-transform: uppercase;
  background-color: #00a2ae;
  font-weight: normal;
  letter-spacing: 1px;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
  -ms-transition-property: background-color;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: linear;
  -ms-transition-delay: 0s;
  -o-transition-property: background-color;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0s;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.secw-settings-form input[type="button"]:hover,
.secw-settings-form input[type="submit"]:hover,
.secw-settings-form button:hover,
.secw-settings-form a.button:link:hover,
.secw-settings-form a.button:visited:hover,
.secw-settings-form .c-button:hover {
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
  -ms-transition-property: background-color;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: linear;
  -ms-transition-delay: 0s;
  -o-transition-property: background-color;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0s;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  background-color: #00bac8;
}

.secw-settings-form input[type="button"]:disabled,
.secw-settings-form input[type="submit"]:disabled,
.secw-settings-form button:disabled,
.secw-settings-form input[type="button"]:active,
.secw-settings-form input[type="submit"]:active,
.secw-settings-form button:active,
.secw-settings-form a.button:link:active,
.secw-settings-form a.button:visited:active,
.secw-settings-form .c-button:active {
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
  -ms-transition-property: background-color;
  -ms-transition-duration: 0s;
  -ms-transition-timing-function: linear;
  -ms-transition-delay: 0s;
  -o-transition-property: background-color;
  -o-transition-duration: 0s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0s;
  transition-property: background-color;
  transition-duration: 0s;
  transition-timing-function: linear;
  transition-delay: 0s;
  background-color: #e8e8e8;
  color: #b9b9b9;
}
*/