.secw-settings {
  margin-top: 20px;
}
.secw-settings-form .secw-settings-table td {
  padding: 10px;
}
.secw-settings-form .secw-settings-table td:nth-child(2) {
  margin-left:20px;
}
.secw-settings-form .secw-settings-table td:nth-child(3) {
  margin-left:20px;
}

.secw-settings-form input[type="button"].small,
.secw-settings-form input[type="submit"].small,
.secw-settings-form button.small,
.secw-settings-form a.button:link.small,
.secw-settings-form a.button:visited.small,
.secw-settings-form .c-button.small {
  font-size: 1.0em;
  height: 36px;
  line-height: 32.4px;
  padding: 0 10px;
  color: #fff;
}

.secw-settings-form input[type="button"],
.secw-settings-form input[type="submit"],
.secw-settings-form button,
.secw-settings-form a.button:link,
.secw-settings-form a.button:visited,
.secw-settings-form .btn,
.secw-settings-form .c-button {
  font-family: 'Lato', sans-serif !important;
  font-size: 15px !important;
  text-transform: uppercase !important;
  background-color: #00a2ae !important;
  font-weight: normal !important;
  letter-spacing: 1px !important;
  -webkit-transition-property: background-color !important;
  -webkit-transition-duration: 0.2s !important;
  -webkit-transition-timing-function: linear !important;
  -webkit-transition-delay: 0s !important;
  -moz-transition-property: background-color !important;
  -moz-transition-duration: 0.2s !important;
  -moz-transition-timing-function: linear !important;
  -moz-transition-delay: 0s !important;
  -ms-transition-property: background-color !important;
  -ms-transition-duration: 0.2s !important;
  -ms-transition-timing-function: linear !important;
  -ms-transition-delay: 0s !important;
  -o-transition-property: background-color !important;
  -o-transition-duration: 0.2s !important;
  -o-transition-timing-function: linear !important;
  -o-transition-delay: 0s !important;
  transition-property: background-color !important;
  transition-duration: 0.2s !important;
  transition-timing-function: linear !important;
  transition-delay: 0s !important;
}

.secw-settings-form input[type="button"]:hover,
.secw-settings-form input[type="submit"]:hover,
.secw-settings-form button:hover,
.secw-settings-form a.button:link:hover,
.secw-settings-form a.button:visited:hover,
.secw-settings-form .c-button:hover {
  -webkit-transition-property: background-color !important;
  -webkit-transition-duration: 0.2s !important;
  -webkit-transition-timing-function: linear !important;
  -webkit-transition-delay: 0s !important;
  -moz-transition-property: background-color !important;
  -moz-transition-duration: 0.2s !important;
  -moz-transition-timing-function: linear !important;
  -moz-transition-delay: 0s !important;
  -ms-transition-property: background-color !important;
  -ms-transition-duration: 0.2s !important;
  -ms-transition-timing-function: linear !important;
  -ms-transition-delay: 0s !important;
  -o-transition-property: background-color !important;
  -o-transition-duration: 0.2s !important;
  -o-transition-timing-function: linear !important;
  -o-transition-delay: 0s !important;
  transition-property: background-color !important;
  transition-duration: 0.2s !important;
  transition-timing-function: linear !important;
  transition-delay: 0s !important;
  background-color: #00bac8 !important;
}

.secw-settings-form input[type="button"]:disabled,
.secw-settings-form input[type="submit"]:disabled,
.secw-settings-form button:disabled,
.secw-settings-form input[type="button"]:active,
.secw-settings-form input[type="submit"]:active,
.secw-settings-form button:active,
.secw-settings-form a.button:link:active,
.secw-settings-form a.button:visited:active,
.secw-settings-form .c-button:active {
  -webkit-transition-property: background-color !important;
  -webkit-transition-duration: 0s !important;
  -webkit-transition-timing-function: linear !important;
  -webkit-transition-delay: 0s !important;
  -moz-transition-property: background-color !important;
  -moz-transition-duration: 0s !important;
  -moz-transition-timing-function: linear !important;
  -moz-transition-delay: 0s !important;
  -ms-transition-property: background-color !important;
  -ms-transition-duration: 0s !important;
  -ms-transition-timing-function: linear !important;
  -ms-transition-delay: 0s !important;
  -o-transition-property: background-color !important;
  -o-transition-duration: 0s !important;
  -o-transition-timing-function: linear !important;
  -o-transition-delay: 0s !important;
  transition-property: background-color !important;
  transition-duration: 0s !important;
  transition-timing-function: linear !important;
  transition-delay: 0s !important;
  background-color: #e8e8e8 !important;
  color: #b9b9b9 !important;
}